<%- include header %>
这是<%= message %>
<div>
   <h2><%= title %></h2>
</div>
<div>
    <form action="/article" method="post">
        <label for="title">文章标题</label>
        <input type="text" id="title" name="title">

        <label for="content">文章内容</label>
        <textarea name="content" id="content" cols="30" rows="10"></textarea>
         <input type="submit" value="submit">
    </form>
</div>
<%- include footer %>