<%- include header %>
这是<%= message %>
    <form action="login" method="post">
        <label for="username">账号</label>
        <input type="text" id="username" name="username">

        <label for="pwd">密码</label>
        <input type="password" id="pwd" name="pwd">

        <input type="submit" value="submit">
    </form>
<%- include footer %>
