{% extends "base.html" %} {% block main %}
<script src="/static/build/CommentCoreLibrary.js"></script>
<script src="http://cdn.bootcss.com/jquery/2.1.3/jquery.js"></script>
<script>
    window.addEventListener('load', function () {
        // 在窗体载入完毕后再绑定
        var grid = document.getElementById('grid-demo');
        var CM = new CommentManager(grid);
        CM.init();
        // 先启用弹幕播放（之后可以停止）
        CM.start();
        // 开放 CM 对象到全局这样就可以在 console 终端里操控
        window.CM = CM;

        $('#submit').click(function(e){
            e.preventDefault();
            var danmu = {
                "mode": 2,
                "text":$('#content').val(),
                "stime":0,
                "size": 25,
                "color": 0xff00ff,
                "dur":5000
            };
            var msg = JSON.stringify(danmu);
            var ws = new WebSocket('ws://localhost:3300/duanmu');
            // 打开WebSocket连接后立刻发送一条消息:
            ws.onopen = function(){
                ws.send(msg);
            };

            ws.onmessage = function(e){
//                console.log(e);
                var danmaku = JSON.parse(e.data);
                CM.send(danmaku);
            };
        });
    });
</script>
<h1>hello {{title}}</h1>
<div id="grid-demo" style="width: 300px;height: 300px;">

</div>
<div class="grid-demo" >
    <div class="ant-row demo-row">
        <div class="ant-col-12 demo-col demo-col-1">
            <input type="text" name="content" id="content">

            <button id="submit">提交</button>
        </div>
    </div>
</div>
{% endblock %}