{% extends "base.html" %} {% block main %}
<h1>hello {{title}}</h1>
<div class="grid-demo">
    <div class="ant-row demo-row">
        <div class="ant-col-12 demo-col demo-col-1">
            <form action="/signin" method="post" class="ant-form login-form">
                <p>Name: <input type="text" name="name" value="koa" class="ant-input ant-input-lg"></p>
                <p>Pwd: <input type="text" name="pwd" value="123456" class="ant-input ant-input-lg"></p>
                <div class="ant-form-item-control has-success">
                    <p> <input type="submit" value="submit" class="ant-btn ant-btn-primary ant-btn-lg login-form-button"> </p>
                </div>
            </form>
        </div>
        <div class="ant-col-12 demo-col demo-col-1">

        </div>
    </div>
</div>
{% endblock %}